@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

/* Overall Layout */
.overall-layout {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 2rem;
}

* {
  font-family: 'Source Sans Pro';
}

/* Nav */
.nav .logo {
  width: 200px;
  height:auto;
}

.nav .nav-line {
  background-color: #E4E9ED;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

/* Constant font sizes */
.heading-one {
  font-size: 50px;
  color: #273A4B;
  margin: 0.25rem;
  letter-spacing: 0.1rem;
}

.heading-small-title {
  font-size: 13px;
  color: #9DAAB5;
  letter-spacing: 0.15rem;
  margin: 0.25rem;
}

/* Back Button */
.back-button {
  border: none;
  color: #059CAF;
  background-color: transparent;
}

.back-button-content {
  margin-top: 2rem;
}

.back-button-icon {
  display: inline-block;
  margin-bottom: 0.1rem;

}

.back-title {
  display: inline-block;
  font-size: 16px;
  margin-left: 1rem;
  margin-bottom: 0;
}

.back-button:focus {
  outline: none;
}

