/* Profile content */
.profile-content-background {
    margin-top: 3rem;
    background-color: #F7F8F9;
    margin-left: -10rem;
    margin-right: -10rem;
    height: 100%;

    min-height: 60vh;
    overflow: hidden;
}

.profile-content-row {
    position: relative;
}

.profile-information {
    left: 26rem;
    margin-top: 3.4rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 20px;
    border: 2px solid red;

    background: #FFFFFF;

    border: 1px solid #D5DCE3;
    box-sizing: border-box;

    box-shadow: 0px 8px 13px rgba(0, 52, 101, 0.03), 0px 1px 4px rgba(19, 53, 84, 0.04);
    border-radius: 3px;

    min-width: 15rem;

    justify-content: left;
    padding: 3rem;
}

.profile-information-title {
    margin-left: 1rem;
}

.profile-information-subtitle {
    margin-left: 1rem;
}

.profile-information-line {
    margin: 2rem 1rem 2rem;
    border: 1px solid #E4E9ED;
}
/* Summary Cards */
.summary-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    justify-content: center;
}

.summary-card {
    flex: 0 0 200px;
    margin: 0.5rem;

    width: 200px;
    height: 200px;
   
    background: #FFFFFF;
    border: 0.7px solid #D5DCE3;
    box-sizing: border-box;
    box-shadow: 0px 5.5px 9px rgba(0, 52, 101, 0.03), 0px 0.7px 2.75px rgba(19, 53, 84, 0.04);
    border-radius: 2px;

    text-align: center;
}

.summary-card-icon {
    height: 2.5rem;
    margin: 2rem;
}

.summary-card-title {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 1px;

    color: #273A4B;
}

.summary-card-desc {
    font-size: 12px;
    font-style: italic;
    margin-top: 1rem;
    color: #8E8E8E;
    letter-spacing: 1px;
}

.placeholder-img {
    width: 50rem;
}

/* Table */
.scrollable {
    max-height: 400px;
    overflow: auto;   
    margin-top: 2rem;
}

thead {
    position: sticky;
    top: -5px;
    background: white;
    color: #059CAF;
}

/* Visualization */
.pprofile-visualization {
    padding: 2rem;
}

canvas { 
    margin-top: 2rem;
    max-height: 500px;
}

.profile-ui-desc {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: #7F8E9E;
    margin-top: 1.25rem;
    margin-right: 1rem;
}

div.profile-ui-row {
    margin-left: 16px;
}

#demo-simple-select {
    overflow: hidden
}