/* Search for user button */
.search-for-user-button {
    border-radius: 5px;
    background-color: transparent;
    height: 40px;

    margin-top: 2rem;
    color: #059CAF;
    border-color: #059CAF !important;
    border: 2px solid #059CAF ;
    margin-bottom: 3rem;
}

.search-for-user-button:hover {
    color:#7F8E9E;
    border-color: #7F8E9E !important;
    border: 2px solid #7F8E9E;
}

.search-for-user-button:focus {
    outline:none;
}

.search-user-button-text {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* Result content */
.result-content-background {
    text-align: center;
    background-color: #F7F8F9;
    margin-left: -10rem;
    margin-right: -10rem;

    min-height: 60vh;
}

/* Result card item */
.result-card-item {
    display: flex;
    background-color: white;
    width: 80%;
    min-width:60rem;
    height: 5rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10%;
    margin-right: 10%;

    border: 1px solid #D5DCE3;
    box-sizing: border-box;
    box-shadow: 0px 8px 13px rgba(0, 52, 101, 0.03), 0px 1px 4px rgba(19, 53, 84, 0.04);
    border-radius: 3px;

    align-items:center;
    justify-content:center;

    cursor: pointer;
}

.result-card-item:hover {
    border: 2px solid #D5DCE3;
}

.link-to-profile:hover { 
    text-decoration: none; 
}  

.result-card-item-name {
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
    color: #273A4B;
    margin-bottom: 0px;
    width: 100%;

}

.result-card-item-name-text {
    margin-left: 0rem;
    margin-right: 2rem;
    text-align: left;
}

.result-card-item-space {
    width: 50%;
    min-width: 10%;
}
.result-card-item-data {
    font-size: 16px;
    color: #717A83;
    display: inline-block;
    margin-bottom: 0px;

    border-right: 1px dashed#BEC6CE;
}

.result-card-item-data-text {
    padding-right: 1rem;
    padding-left: 5rem;
}

.result-card-menu-button {
    margin-left: 2rem;
    margin-right: 2rem;
    height: 1.5rem;
}

/* Search for specific user */
